@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --poppins:"Poppins", sans-serif;
}
body{
    margin: 0;
}

main{
    display: flex;
    width: 100%;
    height: 100vh;
    font-family: var(--poppins);
}
.title{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
}



.loginbox{
    display: flex;
    flex-direction: column;
}
.loginbox{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 60%;
    background-color:white ;
    border-radius: 10px;
}
.loginregisterbox{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    background-color:rgb(77, 141, 143) ;
    

}

.logindetails{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 3em 0 3em;
    h2{
        margin: 0 0 1em 0;
        
    }
    p {
        margin: 1em 0 0.5em 0;
        color: gray;
        
        
    }
    
}

.logininputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    input{
        width: 100%;
        margin: 1.5em 0 0 0;
        height: 3em;
        border: 1px solid lightgray;
        font-family: inherit;
        border-radius: 5px;

    }

}

#Login{
    background-color: rgb(77, 141, 143);
    border: none;
    cursor: pointer;
    border-radius: 2px;
    font-family: inherit;
    color: white;
    width: 100%;
    height: 3em;
}
#Login:hover{
    background-color: rgb(56, 102, 104);
}
#Remember{
    display: flex;
    input{
        height: 1em;
        width: 1em;
        margin: 0;
    }
    span{
        padding-left: 0.5em;
        font-size: 10px;
        height: 20px;
    }
}
.forgetremember{
    width: 100%;
    max-height: 2em;
    display: flex;
    flex-direction: row;
    height: 4em;
    justify-content: space-between;
    margin: 0 0 5% 0;
    
}

.forgetbutton{
    height: 1em;
    border: none;
    background: none;
    cursor: pointer;
    text-decoration: underline;
    padding: 0;
    
}

#google{
    margin: 1em 0 0 0;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    font-family: inherit;
    width: 100%;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#google:hover{
    background-color: beige;
}

.wrongpassorname{
    align-self: flex-start;
    font-size: 0.7em;
    color: red !important;
    height: 1em;
}
#usernamelogin:hover{
    border: 1px solid black;
}
#passwordlogin:hover{
    border: 1px solid black;
}

.logininputs a{
    text-decoration: underline;
    cursor: pointer;
    font-size: 12px;
}

.loginbox.hide{
    display: none;
}

.details{
    display: flex;
    flex-direction: column;
    margin: 0 0 0.7em 0;
}
.registerbox{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 60%;
    background-color:white ;
    border-radius: 10px;
}

#loginexistingacc{
    border: none;
    background: none;
    cursor: pointer;
    text-decoration: underline;
}

form{
    display: flex;
    flex-direction: column;
    
}

#registerForm h3, p{
    text-align: center ;
    font-family: inherit;
    
}

h3{
    text-align: center;
}
h2{
    text-align: center;
}


#registerForm h3{
    margin: 0.7em 0 0 0;
    display: block;
}

.registerdetails{
    padding: 0 2em 0 2em;
}

.registerdetails input{
    font-size: 1.2em;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.registerdetails label {
    font-size: 0.7em;
}

.registerationbuttons{
    display: flex;
    flex-direction: column;
    margin: 1.5em 0 0 0;
    font-family: var(--poppins);
    
}

.registerationbuttons button{
    margin: 0 0 0.7em 0 ;
    font-family: inherit;
    border: none;
    cursor: pointer;
    font-size: 1em;
    height: 2em;
    border-radius: 5px;

}

#registerbutton{
    background-color:rgb(77, 141, 143);
    color: white;
}
#registerbutton:hover{
    background-color:rgb(56, 102, 104);
}
#registergooglebutton{
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

#registergooglebutton:hover{
    background-color: beige;
}

.registerbox.hide{
    display: none;
}

#gotoregister{
    border: none;
    background: none;
    cursor: pointer;
    text-decoration: underline;
    margin: 0 0 0 0;
}


.details input:hover{
    border: 1px solid black;
    transform: scale(1.01);
}