@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --blue: rgb(77, 141, 143);
    --red: rgba(223, 74, 74, 0.418);
    --white: #ffffff;
    --beige: #ccc;
    --poppins:"Poppins", sans-serif;
}
html{
    height: auot;
    font-family: var(--poppins);
}
body{
    
    margin: 0;
    height: auot;
}


.dothingsapp {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    z-index: 1;
}

.sidebar {
    flex:0 0 277px; /* Fixed size of 277. */
    background-color: beige;
    height: 100vh;
    position: sticky;
    top: 0;
    transition: 0.1s;
     /* Default visible state */
    
    
    
}
.main {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    width: 100%;
}
.todos {
    flex:1 1 100% ;
    justify-content: center;
    padding: 2em 20% 0 20%;
}

.hide-button{
    height: 3em;
}

.todos h1 {
    margin-top: 0.335em;
}

.todo-list{
    padding: 0 0 0 0 ;
    
}

.todo-list li input {
    margin: 0 1em 0 0;
}

.sidebar-content{
    max-width: 100%;
    padding: 0;
}

.sidebar-content > li {
    width: 100%;
}
.hide-button  {
    display: flex;
    justify-content: flex-end;
    height: 2em;
}

.hide-button button {
    border: none;
    background: none;
    cursor: pointer;
}

.sidebutton {
    height: 3em;
    display: flex;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    width: 95%;
    margin: 0 0 0 0.5em;
    border-radius: 5px;
}



.sidebutton:hover{
    background-color: aliceblue;
    transition: 0.5s;
    transform: scale(0.95);
    border: 1px solid beige;
}

.sidebutton > svg {
    height: 100%;
}
.sidebutton span{
    padding-top: 0.25em;
    font-family: var(--poppins);
    font-size: 20px;
}

.add-Task .sidebutton span {
    font-family: var(--poppins);
    font-weight: 600;
    font-style: normal;
}

ul {
    list-style-type: none;
   
}



/*state class to hide sidebar*/
.sidebar.hidden{
    
    transition: 0.5s;
    flex:0 0 0  ;
    width: 0px;

}

.main > div:first-child {
    height: 2em;
}
.main > div:first-of-type button{
    width: 36px;
    height: 100%;
    border: none;
    background:none;
    padding: 0;
    cursor: pointer;
    
}

.due-date{
    max-width :277px;
}
.due-date > div:first-child > div {
    text-align: center;
    margin-top: 2em;
    > span {
        color: var(--blue);
        font-family: var(--poppins);
        font-weight: 600;
        font-style: normal;
    }
    
}

.due-date > div > ul > li > p {
    color:var(--blue) ;
    text-align: center;
}

.due-date > div:first-child > ul {
    padding: 0 1em 0 1em;
}

.theme {
    position: absolute;
    bottom: 0;
    left: 0.5em;
}
/*state clas to hide expand button when sidebar is out*/
.hide {
    display: none;
    transition: ease-in-out;
}

.add-activity {
    padding-left: 0;
    width: 100%;
    display: flex;
    height: 3em;
    border: none;
    background: none;
    > span {
        font-family: var(--poppins);
        
        display: flex;
        height: 100%;
        margin: 0   ;
        justify-content: center;
        align-items: center;
        
        
        
    }
    > svg{
        height: 100%;
        margin-right: 1em;
    }
}

.add-activity:hover span{
    color: var(--blue);
    
}

.add-activity:hover svg > path {
    fill: var(--blue);
    
}

.check   {
    border: none;
    background:none;
    padding-left: 0;
    cursor: pointer;
    
}

.tick {
    opacity: 0;
}

.check:hover .tick {
    opacity: 0.7;
    transition: 0.5s;
}

.todo-item > span {
    position: absolute;
}

.todo-item{
    border-bottom: 1px solid lightgrey;
    width: 95%;
    padding-top: 0.7em;
   
    
}
.todo-item > div:first-of-type{
    margin-left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    >button:nth-of-type(2) {
        border: none;
        background:none;
        padding: 0;
        cursor: pointer;
        margin-left: auto;
        
    }

}

.description{
    padding: 0 0 0 3em;
    overflow: hidden;
    max-width: 80%;
    
}
.description:hover{
    overflow: auto;
}
.edit{
    box-shadow: 0 0 5px grey ;
    border-radius: 5px;
    background-color: var(--white);
    position: absolute;
    top: 2.3em;
    left:92%;
    >ul{
        padding: 0 3em 0 3em;
    }
    > ul > li > button{
        display: flex;
        border: none;
        background:none;
        padding: 0;
        cursor: pointer;
        align-items: center;
        >span{
            font-family: var(--poppins);
        }

    }
    >ul {
        padding: 1em 1em 1em 1em;
        >li:hover{
            background-color: #ccc;
        }
        >li {
            border-radius: 5px;
            
        }
        
    }
    
    
    
}

.maintodo > button:nth-of-type(2) > svg:hover{
    background-color: #ccc;
}
.maintodo > button:nth-of-type(2) > svg{
    border-radius: 4px;
}
/*search box*/

.search-overlay {
    width: 100%;
    height: 100%;
    
    position: fixed;
    padding-top: 10em;
    padding-left: 20%;
    z-index: 1000;
    display: none;
    
    
    
}

#searchbox {
    width: 40%;
    background-color: white;
    
    box-shadow: 0 0 10px grey ;
    border-radius: 10px;
    max-height: 40%;
    /* min-width: 80%; */
   
    
}

.search {
    border-bottom: 0.5px solid #f2f2f2;
}
.search > input {
    border: none;
    background: none;
    outline: none;
    appearance: none ;
    height: 3em;
    width: 100%;
}

.search > input:focus {
    border: 0;
    appearance: none;
    outline: none;
    
}

.search > div > svg {
    height: 100%;
    padding: 0 0.2em 0 0.2em;
}
#searchbox > input::before {
    content: url('../icons8-suche.svg');
    vertical-align: middle;
}
.search {
    display: flex;

}

.Recently > div {
    font-size: 12px;
    color: grey;
    padding: 0.7em 0 0.7em 0.7em;
}

.Recently:nth-of-type(1){
    border-bottom: 1px solid #f2f2f2;
}

.search-content {
    max-height: 300px;
    overflow-y: auto;
}

.common-searched {
    padding-left: 0.7em;
}

input {
    appearance: none;
    border: none;
    outline: none;
    
}
.add-overlay {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 7px;
    padding-left: 0.7em;
    
}

.add-overlay > input{
    width: 90%;
    border-radius: 7px;
}

.add-overlay > div:first-of-type {
    border-bottom: 1px solid lightgray;
}

#addtaskinput {
    height:2em;
    font-size: 1em;
    font-weight: bold;
    font-family: var(--poppins);
    margin-top:0.3em;
}
.category {
    background-color: white;
    border: none;
    outline: auto;
    outline-color: lightgray;
    border-radius: 7px;
    height: 3em;
    
}
.category:hover{
    background-color: var(--beige);
}

.prio {
    border: 1px solid lightgray !important;
}

.category > span {
    color: grey;
    height: 100%;
    display: block;
    
}

.category > svg {
    height: 100%;
}

.category:first-of-type{
    padding: 0 0 0 0 ;
}
.cancel-enter{
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
}

.cancel-enter > button:first-of-type {
    border: none;
    outline: grey;
    border-radius: 7px;
    >span {
        font-family: var(--poppins);
        font-weight:600;
    }
    height: 3em;
    width: 6em;
    margin: 0 0.7em 0.7em 0;
    cursor: pointer;
}

.cancel-enter > button:nth-of-type(2) {
    border: none;
    outline: var(--red);
    background-color:var(--red) ;
    border-radius: 7px;
    >span {
        font-family: var(--poppins);
        font-weight:600;
    }
    height: 3em;
    width: 6em;
    margin:0 0.7em 0.7em 0 ;
    cursor: pointer;
}

.hidebutton {
    display: none;
}

.click{
    font-family: var(--poppins);
}

.todo-item > div {
    margin-left: 3em;
    font-size: small;
}

.todo-item > p {
    font-size: small;
    margin:0 0 0 3em;
}


input[type = "date"]{
    padding: 0.7em;
    

}
input[type = "date"]:hover{
    background-color: var(--beige);
}
.todobutton {
    position: relative;
    margin: 20px;
  }
  
  #priority-btn {
    padding: 10px 10px;
    background-color: var(--white);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  #priority-btn:hover{
    background-color: var(--beige);
  }
  
  .priority-container {
    position: absolute;
    
    top: 14%;
    left: 100%; 
    
    background-color: #f1f1f1;
    
    border-radius: 20px;
    padding: 2px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex: 1 1 138px ;
    gap: 5px;
    transform: scaleX(1);
    transition: transform 0.5s ease, opacity 0.5s ease, padding 0.5s ease;
    opacity: 1;
    
  }
  .priority-container.hidecontainer{
    flex: 0 0 0 ;
    transform: scaleX(0);
    opacity: 0;
    padding: 0;
  }
  
  .priority-container.show {
    left: 60px; 
  }
  
  .priority-level {
    padding: 5px 10px;
    background-color: var(--white);
    border: 1px solid var(--beige);
    cursor: pointer;
    border-radius: 20px;
    text-align: left;
  }
  .priority-level.hide{
    display: none;
  }
  
  .priority-level:hover {
    background-color: #ddd;
  }

  .add-overlay > div:first-of-type {
    display: flex;
    align-items: center;
  }
  .priority-level{
    display: flex;
  }

 
  .category.two.clicked{
    background-color: var(--white);
  }

@media only screen and (max-width: 46em) {
    .dothingsapp{
        display: absolute;
        
    }
    
    
    .sidebar {
        width: 277px;
        height: 100vh;
        padding-left: 0 !important;
        padding-top: 0 !important;
        
        transform: translateX(-100) !important;
        
        padding-left: 20%;
        z-index: 1000;
        
        
        
        
    }

    .main {
        width: 100%;
        height: 100%;
        padding: 0 0 0 0 !important;
        position: fixed;
        padding-top: 10em;
        padding-left: 20%;
        
        
    }


}

